.customer(*ngIf="customer")
  md-card
    a([routerLink]="['/customers/' + customer.id]")
      md-card-title
        | {{customer.name}} (# {{customer.id}})
    //- md-card-subtitle
    //-   //- | {{customer.id}}
    //-   | {{customer.phone}}
    //- md-divider
    //- md-card-content
    //-   p
    //-     | {{customer.address}}
    md-divider
    md-card-content
      form
        md-input(
          placeholder="name"
          '[(ngModel)]'="customer.name"
          '[ngModelOptions]'="{standalone: true}"
          '(ngModelChange)'="update($evevt)"
        )
        md-input(
          placeholder="phone"
          '[(ngModel)]'="customer.phone"
          '[ngModelOptions]'="{standalone: true}"
          '(ngModelChange)'="update($event)"
        )
        md-input(
          placeholder="address"
          '[(ngModel)]'="customer.address"
          '[ngModelOptions]'="{standalone: true}"
          '(ngModelChange)'="update($event)"
        )
    md-divider
    md-card-actions
      //- button(md-raised-button, color='accent', [routerLink]="['/customers/' + customer.id + '/edit']") Edit
      button(md-raised-button, color='warn', (click)="remove($event)") Delete
