md-toolbar([color]="primary")
  span
    | {{"Invoice App" | translate }}
    | &nbsp;
  button(md-button [routerLink]="['./products']")
    | {{tr.products}}
  button(md-button [routerLink]="['./customers']")
    | {{tr.customers}}
  button(md-button [routerLink]="['./invoices']")
    | {{tr.invoices}}

.content
  router-outlet
