md-toolbar([color]="primary")
  span
    | {{"Invoice App" | translate }}
    | &nbsp;
  button(md-button [routerLink]="['./products']")
    | {{"Products" | translate }}
  button(md-button [routerLink]="['./customers']")
    | {{"Customers" | translate }}
  button(md-button [routerLink]="['./invoices']")
    | {{"Invoices" | translate }}
  span
    | {{Hello | translate}}

.content
  router-outlet
