.product(*ngIf="product")
  md-card
    a([routerLink]="['/products/' + product.id]")
      md-card-title
        | {{product.name}} (# {{product.id}})
    md-card-content
      form
        md-input(
          placeholder="{{'name' | translate }}"
          '[(ngModel)]'="product.name"
          '[ngModelOptions]'="{standalone: true}"
          '(ngModelChange)'="product_update($event)"
        )
        md-input(
          type="number"
          placeholder="{{'price' | translate }}"
          '[(ngModel)]'="product.price"
          '[ngModelOptions]'="{standalone: true}"
          '(ngModelChange)'="product_update($event)"
        )
          span(md-prefix) $&nbsp;
    //- md-divider
    //- md-card-content
    //-   p
    //-     | # {{product.id}}
    md-divider
    md-card-actions
      //- button(md-raised-button, color='accent', [routerLink]="['/products/' + product.id + '/edit']") Edit
      button(md-raised-button, color='warn', (click)="product_remove($event)") {{"Delete" | translate }}
